/* HEADER STYLES */
span.dvdr {
	margin: 0 8px;
}
header {
	background-color: #fff;
	border-bottom: 3px solid $accent-color;
	* {
		opacity: 1;
	}
	li a:hover {
		opacity: 0.6;
	}
}
.banner, .navigation {
	position: relative;
	max-width: 840px;
	margin: auto;
	padding: 0 20px;
}
.banner {
	font-size: 0;
	& > div {
		&.left {
			position: relative;
			min-width: 332px;
			height: 77px;
			background-image: url('/assets/images/logos/figs.jpg');
			background-position: top 7px center;
			background-size: 45.5%;
			background-repeat: no-repeat;
			.overlay {
				background-color: rgba(255, 255, 255, 0.8);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include display_flex();
				@include justify_content(center);
				@include align_items(center);
				@include flex_direction(column);
			}
			.h1 {
				@include flex(0, 1, auto);
				font-size: 28px;
			}
			.subtitle {
				@include flex(0, 1, auto);
				font-size: 13px;
			}
		}
		&.right {
			text-align: right;
			float: right;
			margin-top: 35px;
			font-size: 14px;
			.header-phone {
				font-size: 22px;
				& > span > a {
					display: none !important;
				}
			}
		}
	}
	h5 {
		font-size: 14px;
		a {
			color: $accent-color;
			opacity: 1;
		}
	}
}
.navigation {
	& > .tit_wrapper, & > .img_wrapper {
		display: none;
	}
	#navbar {
		@include display_flex();
		padding: 7px 0;
		text-transform: uppercase;
		li {
			@include flex(1, 1, auto);
			display: inline-block;
			padding: 0 10px; /* for IE9 */
			font-size: 0;
			text-align: center;
			list-style-type: none;
			a {
				font-size: 14px;
				text-decoration: none;
				opacity: 0.7;
				&.active {
					padding-bottom: 4px;
					border-bottom: 6px solid #5C6BC0;
					opacity: 1;
				}
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	#ham_btn, #ham_menu, #phone_btn {
		display: none;
	}
}

/* RESPONSIVE */
@media (min-width: 768px) {
	.navigation {
		display: none;
	}
}
@media (max-width: 767px) {
	header {
		height: auto;
		div.banner {
			display: none;
		}
	}
	.navigation {
		width: auto;
		padding: 0 22px;
		text-align: center;
		position: relative;
		padding: 4px 16px 0 16px;
		& .img_wrapper {
			position: absolute;
			display: block;
			visibility: hidden;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			img {
				display: block;
				visibility: visible;
				height: 90%;
				margin: 0 auto;
				opacity: 0.2;
				border: none;
			}
		}
		& .tit_wrapper {
			display: inline-block;
			font-size: 28px;
			font-family: "lato";
			color: #404040;
			text-transform: none;
		}
		.title {
			display: inline-block;
			background-image: url('/assets/images/logos/figs.jpg');
			background-position: top center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		.overlay {
			background-color: rgba(255, 255, 255, 0.8);
			width: 100%;
			height: 100%;
			@include display_flex();
			@include justify_content(center);
			@include align_items(center);
			@include flex_direction(column);
		}
		.h1 {
			@include flex(0, 1, auto);
			font-size: 19px;
		}
		.subtitle {
			@include flex(0, 1, auto);
			font-size: 9px;
		}
		#navbar {
			display: none;
		}
		#ham_btn, #phone_btn {
			display: block;
			background-color: transparent;
			&:active { background-color: #ddd; }
			&:focus { outline: 0; }
		}
		#ham_btn {
			float: left;
			padding: 12px 9px;
			.ham_bar {
				display: block;
				width: 22px;
				height: 2px;
				border-radius: 1px;
				background-color: #888;
				& + .ham_bar {
					margin-top: 5px;
				}
			}
		}
		#phone_btn {
			float: right;
			padding: 6px;
			img {
				width: 28px;
			}
		}
		#ham_menu, #phone_menu {
			display: none;
			position: absolute;
			z-index: 1;
			top: 50px;
			background-color: #fff;
			box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
			list-style-type: none;
			li {
				padding: 10px 0;
			}
			& > li:first-child {
				padding-top: 0;
			}
		}
		#ham_menu {
			left: 0;
			text-align: left;
			padding: 10px 35px 10px 25px;
			& > li:not(:last-child) {
				border-bottom: 1px solid #ccc;
			}
			ul {
				list-style-type: none;
				margin-left: 30px;
				li:last-child {
					padding-bottom: 0px;
				}
			}
		}
		#phone_menu {
			right: 0;
			padding: 10px 30px;
		}
		h1 {
			float: left;
		}
	}
}

@media only screen and (max-device-width: 717px) {
	h1 a {
		font-size: 20px;
	}
}

@media only screen and (max-device-width: 668px) {
	h1 a {
		font-size: 18px;
	}
}

@media only screen and (max-device-width: 543px) {
	.navigation {
		padding: 4px 16px 0 16px;
		& > .tit_wrapper {
			font-size: 22px;
			margin-top: 5px;
		}
	}
}

@media only screen and (max-device-height: 479px) {
	.navigation #ham_menu, .navigation #phone_menu {
		top: 49px;
	}
	.navigation #ham_menu {
		li, li ul li {
			padding: 6.5px 0;
		}
	}
}

@media only screen and (max-device-width: 388px) {
	.navigation {
		padding: 4px 6px;
		& > .tit_wrapper {
			font-size: 19px;
			margin-top: 3px;
		}
		#ham_btn {
			.ham_bar {
				width: 17px;
				& + .ham_bar {
					margin-top: 4px;
				}
			}
		}
		#phone_btn {
			img {
				width: 22px;
			}
		}
		#ham_menu, #phone_menu {
			top: 49px;
		}
	}
}

/* iPhone 4 & 5 */
@media only screen and (max-device-height: 388px) {
	.navigation {
		padding: 4px 6px;
	}
}

/* smaller scrn sizes */
@media only screen and (max-device-width: 319px) {
	.navigation > a {
		font-size: 15px;
	}
}