/* PHYSICIANS & PHYSICAL THERAPISTS PAGES */
section.profile {
	max-width: 840px;
	margin: 0 auto;
	padding: 20px 0;
	border: none;
	.flex_container {
		@include display_flex();
		padding: 0;
		& > div {
			padding: 0;
		}
		.left {
			min-width: 200px;
			margin-right: 45px;
			img {
				width: 200px;
			}
		}
		.right {
			@include flex_grow(1);
			@media (max-width: 680px) {
				padding-top: 20px;
			}
			p {
				margin-bottom: 10px;
			}
		}
		@media (max-width: 484px) {

		}
	}
}

/* individual profile teaser */
.profile_snippet {
	width: 242px;
	margin-bottom: 5vw;
	margin-right: 30px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 12px #bbb;
	-moz-box-shadow: 0 2px 12px #bbb;
	box-shadow: 0 2px 12px #bbb;
	opacity: 1;
	@media (max-width: 523px) {
		margin-right: 0;
		margin-bottom: 10vw;
	}
	h4 {
		margin: 0;
	}
	.profile_snippet_header {
		@include display_flex();
		@include justify_content(center);
		@include flex_direction(column);
		height: 73px;
		padding: 10px 20px;
		text-align: center;
		background-color: $accent-color;
		* {
			color: #eee;
		}
		h4 {
			@include flex(0, 1, auto);
			font-size: 18px;
		}
		p {
			@include flex(0, 1, auto);
		}
	}
	.profile_snippet_img {
		padding: 1rem;
		line-height: 0;
		overflow: hidden;
		.img {
			padding-top: 100%;
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
		}
	}
	.profile_snippet_text {
		position: relative;
		height: 170px;
		padding: 0 20px 10px 20px;
		overflow: hidden;
		p {
			display: none;
			text-align: left;
		}
		p:first-child {
			display: block;
			max-height: 170px;
			overflow: hidden;
		}
		.read_more {
			position: absolute;
			bottom: 12px;
			right: 20px;
			padding-left: 1rem;
			-webkit-box-shadow: -20px 0 15px 0 #fff;
			-moz-box-shadow: -20px 0 15px 0 #fff;
			box-shadow: -20px 0 15px 0 #fff;
			background: #fff;
			color: #5C6BC0;
			text-decoration: underline;
		}
	}
}

/* placeholder profile image */
.placeholder {
	$back_color: #eee;
	$bust_color: #888;
	$acnt_color: #666;
	display: inline-block;
	position: relative;
	background-color: #eee;
	width: 100%;
	height: 210px;
	-webkit-box-shadow: inset 0 0 80px $bust_color;
	-moz-box-shadow:    inset 0 0 80px $bust_color;
	box-shadow:         inset 0 0 80px $bust_color;
	> div {
		position: absolute;
		background-color: $bust_color;
	}
	.body,
	.head,
	.stethoscope {
		transform: translate(-16px,0); /* to account for added 1rem padding on parent */
	}
	.body {
		top: 120px;
		left: 44px;
		width: 154px;
		height: 77px;
		border-top-left-radius: 77px;
		border-top-right-radius: 77px;
	}
	.head {
		top: 40px;
		left: 66px;
		width: 90px;
		height: 90px;
		border: 10px solid $back_color;
		border-radius: 55px;
	}
	.stethoscope {
		position: relative;
		> div {
			position: absolute;
			background-color: $acnt_color;
			z-index: 2;
		}
		.left_top {
			top: 132px;
			left: 77px;
			width: 6px;
			height: 30px;
			border-radius: 3px;
		}
		.left_bottom {
			top: 160px;
			left: 64px;
			width: 20px;
			height: 16px;
			background-color: $bust_color;
			border-top: 6px solid $acnt_color;
			border-left: 6px solid $acnt_color;
			border-right: 6px solid $acnt_color;
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
		}
		.right_top {
			top: 132px;
			left: 159px;
			width: 6px;
			height: 40px;
			border-radius: 3px;
		}
		.right_bottom {
			top: 167px;
			left: 152px;
			width: 20px;
			height: 20px;
			border-radius: 10px;
		}
	}
}

// zocdoc button for Meredith Bean
#zocdoc-button {
	height: 0;
	padding: 0;
	visibility: hidden;
}
